
.benefits-two {
    background-color: var(--background-dark); 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.benefits-two h3 {
    line-height: 1.5; 
    max-width: 700px; 
    margin: 0 auto 24px; 
    text-align: center; 
}

.benefits-two h3 span {
    color: var(--secondary-color); 
}

.yoga-benefits {
    display: flex;
    gap: 2rem; 
    justify-content: center; 
    margin-top:32px;
}

.benefit:hover {
    transform: translateY(-10px); 
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2); 
}
