.footer-full {
    background-color: rgb(0, 64, 32);
}

.footer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 60px 0;
    text-align: left;
}

.footer-item {
    flex: 1; /* Each item takes equal space */
    min-width: 200px; /* Ensures a minimum width */
    max-width: 300px; /* Optional: Restricts maximum width for balance */
}

.footer-item h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #ffffff;
}

.footer-item p,
.footer-item a {
    font-size: 1rem;
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 10px;
}

.footer-item a:hover {
    color: #04a469; /* Green hover color */
}

.footer-item ul {
    list-style: none;
    padding: 0;
}

.footer-item ul li {
    margin-bottom: 10px;
}

.footer-item ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
}

