/* Navbar.css */
.navbar {
    background-color: var(--background-light);
    color: var(--secondary-color);
    box-shadow: 0px 4px 6px rgba(255, 65, 65, 0.1);
    font-weight: 400;
    padding: 24px 0;
  }
  
  .navbar a {
    color: var(--text-primary);
    margin-right: 42px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    color: var(--secondary-color);
  }

  i {
    color: var(--text-primary);
    font-size: 24px;
  }

  i:hover {
    color: var(--secondary-colour);
  }
  