

.content-block {
    width: 100%;
    height: 700px; 
    background: url("/img/yoga-class-female-5.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
}


.content-block::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: 1;
}

.content-block > * {
    position: relative;
    z-index: 2; 
}

.content-block h5 {
    color: var(--text-secondary);
    margin-bottom: 10px;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 1);
}

.content-block h2 {
    color: var(--primary-color);
    margin: 60px 0;
    line-height: 50%;
    text-shadow: 10px 10px 30px rgba(0, 0, 0, 1);
}

