code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  /* Brand Colors */
  --primary-color: #ffffff;
  --secondary-color: #04a469;

  /* Text Colors */
  --text-primary: #000000;
  --text-secondary: #ffffff;

  /* Background Colors */
  --background-light: #f8f9fa;
  --background-dark: #f4f2f2;

  /* Accent Colors */
  --accent-danger: #dc3545;
  --accent-warning: #ffc107;
}

html {
  scroll-behavior: smooth;
}


/* index.css */
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--background-light);
  color: var(--text-primary);
  line-height: 1.6;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  color: var(--text-primary);
  line-height: 100%;
}

h2 {
  font-weight: bold;
  font-size: 3rem;
}

h3 {
    font-size: 32px;
    font-weight: bold;
    color: var(--text-primary);
}

h4 {
  font-size: medium;
  font-weight: bold;
}

p {
  color: var(--text-primary);
  font-size: 16px;
  
}

.section {
  padding: 124px 0; /* Add vertical spacing */
}

.section-header {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.section-light {
  background-color: var(--background-light);
}

.section-dark {
  background-color: var(--background-dark);
  color: var(--secondary-color);
}

.btn-primary {
  background-color: var(--secondary-color);
  color: var(--text-secondary);
  padding: 12px 24px;
  border-radius: 50px;
  font-weight: 600px;  
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-primary:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: solid 1px;
}

.shadow-btn {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);
}

/* index.css */
@media (max-width: 768px) {
  .section {
    padding: 40px 20px;
  }

  .btn-primary {
    font-size: 14px;
    padding: 10px 20px;
  }

  .navbar {
    font-size: 14px;
  }

  .section-header {
    font-size: 2rem;
  }
}

a {
  text-decoration: none;
}